In [27]:
import pandas as pd
#read csv file
customers_data = pd.read_csv('../data/raw/olist_customers_dataset.csv')
order_items_data = pd.read_csv('../data/raw/olist_order_items_dataset.csv')
orders_data = pd.read_csv('../data/raw/olist_orders_dataset.csv')
products_data = pd.read_csv('../data/raw/olist_products_dataset.csv')
category_data = pd.read_csv('../data/raw/product_category_name_translation.csv')

### customers_data 
customers_id = كود العميل

customer_unique_id	= كود فريد للعميل

customer_zip_code_prefix = كود البريد للعميل

customer_city = مدينه العميل

customer_state = محافظه العميل

In [28]:
customers_data.head(5)
customers_data.info()
customers_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

### order_items_data 
order_id = كود الطلب

order_item_id = كود المنتج داحل الطلب

seller_id = كود البائع

shipping_limit_date = الحد الزمني للتوصيل

price = السعر

freight_value = قيمه التوصيل

In [29]:
order_items_data.head()
order_items_data.info()
order_items_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

### orders_data

order_id = كود الطلب

customer_id	= كود العميل

order_status = حالة الطلب

order_purchase_timestamp = طابع زمني لطلب الشراء

order_approved_at = زمن اعتماد الطلب

order_delivered_carrier_date = زمن تسليم الطلب لشركه الشحن

order_delivered_customer_date = زمن توصيل الطلب للعميل 

order_estimated_delivery_date = الزمن المتوقع لوصول الطلب

In [30]:
orders_data.head()
orders_data.info()
orders_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

### products_data

product_id = كود المنتح

product_category_name = اسم فئه المنتج

product_name_lenght = طول اسم المنتح

product_description_lenght = طول وصف المنتج

product_photos_qty = عدد صور المنتج

product_weight_g = وزن المنتج بالجرامات

product_length_cm = طول المنتج سم

product_height_cm = ارتفاع المنتج سم

product_width_cm = عرص المنتج سم

In [31]:
products_data.head()
products_data.info()
products_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

### category_data
product_category_name = اسم فئه المنتحات 

product_category_name_english = اسم الفئه بالانجيليزية

In [32]:
category_data.head()
category_data.info()
category_data.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

product_category_name            0
product_category_name_english    0
dtype: int64